body {
	margin: 35px 50px 50px 50px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

h3 {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.send-box {
	display: inline-flex;
	padding: 7px 10px;
	margin: 5px 0px 5px 0px;
	border-radius: 5px;
	background-color: lightgray;
	position: relative;
	top: -5px;	
}

.send-box-title {
	display: flex;
	background-color: lightgray;
	margin: 0px 12px 0px 0px;
	/* white-space: nowrap; */
	align-items: center;
	text-align: center;
}

.send-box-flags {
	display: flex;
	margin-top: -2px;
	flex-wrap: wrap;
	/* flex-direction: column; */
	/* flex-grow: 20; */
}

.send-box-button {
	display: flex;
	color: white;
	background-color: darkred;
	padding: 0px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
	align-items: center;
	// z-index: 1;

	// &:hover {
	// 	background-color: blue !important;
	// }
}

.send-flag {
	height: 17px;
	width: 25.5px;
	margin: 3px;
	position: relative;
	top: 1px;
}

.country-box {
	background-color: lightgray;
	display: inline-block;
	padding: 4px 10px;
	margin: 4px 5px;
	border-radius: 5px;
	cursor: pointer;
}

.country-box-selected {
	background-color: darkred;
	color: white;
	display: inline-block;
	padding: 7px 14px;
	margin: 1px 1px;
	border-radius: 7px;
	cursor: pointer;
}

.region-box {
	background-color: dimgray;
	color: lightgray;
	display: inline-block;
	padding: 4px 10px;
	margin: 4px 5px;
	border-radius: 5px;
	cursor: pointer;
}

.region-box-selected {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 7px 14px;
	margin: 1px;
	border-radius: 7px;
	cursor: pointer;
}

.flag {
	height: 17px;
	width: 25.5px;
	margin: -2px 6px -3px -4px;
}

.unselectable { 
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Not used */
.hide-elem {
	visibility: collapse;
}

.show-elem {
	visibility: visible;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}